CONFIG_MTRR=y
CONFIG_MTRR_SANITIZER=n
CONFIG_X86_PAT=y
CONFIG_PREEMPT_NONE=n
CONFIG_PREEMPT_VOLUNTARY=y
CONFIG_PREEMPT=n
CONFIG_X86_PAE=y
CONFIG_NET_SCHED=n
CONFIG_BLK_DEV_RAM=y
CONFIG_ATA=y
CONFIG_ATA_ACPI=y
CONFIG_ATA_GENERIC=y
CONFIG_SATA_AHCI=y
CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
CONFIG_USB_ARCH_HAS_OHCI=y
CONFIG_USB_ARCH_HAS_EHCI=y
CONFIG_CONNECTOR=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_FIRMWARE_EDID=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_FB=y
CONFIG_FB_VESA=y
CONFIG_FB_UVESA=y
CONFIG_FB_BOOT_VESA_SUPPORT=y
CONFIG_SCHED_MC=y
CONFIG_SCHED_SMT=y
CONFIG_NLS=y
CONFIG_NLS_DEFAULT=utf8
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_CODEPAGE_857=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_ISO8859_9=y
CONFIG_NLS_ISO8859_15=y
CONFIG_NLS_UTF8=y
CONFIG_IPV6=n
CONFIG_NETDEVICES=y
CONFIG_VETH=y
CONFIG_NET_SB1000=y
CONFIG_ARCNET=y
CONFIG_IA32_EMULATION=y
CONFIG_IA32_AOUT=y
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_FB_NVIDIA=n
CONFIG_FB_RADEON=n
CONFIG_MII=y
CONFIG_MACB=y
CONFIG_ARM_AM79C961A=y
CONFIG_ARM_ETHER1=y
CONFIG_ARM_ETHER3=y
CONFIG_ARM_ETHERH=y
CONFIG_ARM_AT91_ETHER=y
CONFIG_ARM_KS8695_ETHER=y
CONFIG_EP93XX_ETH=y
CONFIG_IXP4XX_ETH=y
CONFIG_W90P910_ETH=y
CONFIG_AX88796=y
CONFIG_AX88796_93CX6=y
CONFIG_MACE=y
CONFIG_BMAC=y
CONFIG_ARIADNE=y
CONFIG_A2065=y
CONFIG_HYDRA=y
CONFIG_ZORRO8390=y
CONFIG_APNE=y
CONFIG_MAC8390=y
CONFIG_MAC89x0=y
CONFIG_MACSONIC=y
CONFIG_MACMACE=y
CONFIG_MVME147_NET=y
CONFIG_MVME16x_NET=y
CONFIG_BVME6000_NET=y
CONFIG_ATARILANCE=y
CONFIG_SUN3LANCE=y
CONFIG_SUN3_82586=y
CONFIG_HPLANCE=y
CONFIG_LASI_82596=y
CONFIG_SNI_82596=y
CONFIG_KORINA=y
CONFIG_MIPS_JAZZ_SONIC=y
CONFIG_XTENSA_XT2000_SONIC=y
CONFIG_MIPS_AU1X00_ENET=y
CONFIG_SGI_IOC3_ETH=y
CONFIG_MIPS_SIM_NET=y
CONFIG_SGI_O2MACE_ETH=y
CONFIG_STNIC=y
CONFIG_SH_ETH=y
CONFIG_SUNLANCE=y
CONFIG_HAPPYMEAL=y
CONFIG_SUNBMAC=y
CONFIG_SUNQE=y
CONFIG_SUNGEM=y
CONFIG_CASSINI=y
CONFIG_SUNVNET=y
CONFIG_NET_VENDOR_3COM=y
CONFIG_EL1=y
CONFIG_EL2=y
CONFIG_ELPLUS=y
CONFIG_EL16=y
CONFIG_EL3=y
CONFIG_3C515=y
CONFIG_ELMC=y
CONFIG_ELMC_II=y
CONFIG_VORTEX=y
CONFIG_TYPHOON=y
CONFIG_LANCE=y
CONFIG_NET_VENDOR_SMC=y
CONFIG_WD80x3=y
CONFIG_ULTRAMCA=y
CONFIG_ULTRA=y
CONFIG_ULTRA32=y
CONFIG_BFIN_MAC=y
CONFIG_SMC9194=y
CONFIG_SMC91X=y
CONFIG_NET_NETX=y
CONFIG_TI_DAVINCI_EMAC=y
CONFIG_DM9000=y
CONFIG_ENC28J60=y
CONFIG_ETHOC=y
CONFIG_GRETH=y
CONFIG_SMC911X=y
CONFIG_SMSC911X=y
CONFIG_NET_VENDOR_RACAL=y
CONFIG_NI5010=y
CONFIG_NI52=y
CONFIG_NI65=y
CONFIG_DNET=y
CONFIG_AGP=y
CONFIG_AGP_ALI=n
CONFIG_AGP_ATI=n
CONFIG_AGP_AMD=n
CONFIG_AGP_AMD64=n
CONFIG_AGP_INTEL=y
CONFIG_AGP_NVIDIA=n
CONFIG_AGP_SIS=n
CONFIG_AGP_SWORKS=n
CONFIG_AGP_VIA=n
CONFIG_AGP_I460=n
CONFIG_AGP_HP_ZX1=n
CONFIG_AGP_PARISC=n
CONFIG_AGP_ALPHA_CORE=n
CONFIG_AGP_UNINORTH=n
CONFIG_AGP_EFFICEON=n
CONFIG_AGP_SGI_TIOCA=n
CONFIG_VGA_ARB=y
CONFIG_VGA_ARB_MAX_GPUS=2
CONFIG_HZ_100=n
CONFIG_HZ_250=n
CONFIG_HZ_300=n
CONFIG_HZ_1000=y
CONFIG_NO_HZ=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_SMP=y
CONFIG_SPARSE_IRQ=y
CONFIG_MEMTEST=y
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=y
CONFIG_KVM_INTEL=y
CONFIG_KVM_AMD=y
CONFIG_PARAVIRT_GUEST=y
CONFIG_XEN=y
CONFIG_XEN_DEBUG_FS=y
CONFIG_VMI=y
CONFIG_KVM_CLOCK=y
CONFIG_KVM_GUEST=y
CONFIG_LGUEST_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_PARAVIRT_SPINLOCKS=y
CONFIG_PARAVIRT_CLOCK=y
CONFIG_PARAVIRT_DEBUG=y
CONFIG_M386=n
CONFIG_M486=n
CONFIG_M586=n
CONFIG_M586TSC=n
CONFIG_M586MMX=n
CONFIG_M686=n
CONFIG_MPENTIUMII=n
CONFIG_MPENTIUMIII=n
CONFIG_MPENTIUMM=n
CONFIG_MPENTIUM4=n
CONFIG_MK6=n
CONFIG_MK7=n
CONFIG_MK8=n
CONFIG_MCRUSOE=n
CONFIG_MEFFICEON=n
CONFIG_MWINCHIPC6=n
CONFIG_MWINCHIP3D=n
CONFIG_MELAN=n
CONFIG_MGEODEGX1=n
CONFIG_MGEODE_LX=n
CONFIG_MCYRIXIII=n
CONFIG_MVIAC3_2=n
CONFIG_MVIAC7=n
CONFIG_MPSC=n
CONFIG_MCORE2=y
CONFIG_MATOM=n
CONFIG_GENERIC_CPU=n
CONFIG_X86_GENERIC=n
CONFIG_CPU_FREQ=y
CONFIG_CPU_FREQ_DEBUG=y
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_DEFAULT_GOV_CONSERVATIVE=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_X86_ACPI_CPUFREQ=y
CONFIG_ELAN_CPUFREQ=y
CONFIG_SC520_CPUFREQ=y
CONFIG_X86_POWERNOW_K6=y
CONFIG_X86_POWERNOW_K7=y
CONFIG_X86_POWERNOW_K8=y
CONFIG_X86_GX_SUSPMOD=y
CONFIG_X86_SPEEDSTEP_ICH=y
CONFIG_X86_SPEEDSTEP_SMI=y
CONFIG_X86_P4_CLOCKMOD=y
CONFIG_X86_CPUFREQ_NFORCE2=y
CONFIG_X86_LONGRUN=y
CONFIG_X86_LONGHAUL=y
CONFIG_X86_SPEEDSTEP_RELAXED_CAP_CHECK=y
CONFIG_CPU_IDLE=y
CONFIG_INTEL_IDLE=y
CONFIG_I7300_IDLE=y
CONFIG_ATA_NONSTANDARD=y
CONFIG_ATA_VERBOSE_ERROR=y
CONFIG_SATA_PMP=y
CONFIG_SATA_SIL24=y
CONFIG_ATA_SFF=y
CONFIG_SATA_SVW=y
CONFIG_ATA_PIIX=y
CONFIG_SATA_MV=y
CONFIG_SATA_NV=y
CONFIG_PDC_ADMA=y
CONFIG_SATA_QSTOR=y
CONFIG_SATA_PROMISE=y
CONFIG_SATA_SX4=y
CONFIG_SATA_SIL=y
CONFIG_SATA_SIS=y
CONFIG_SATA_ULI=y
CONFIG_SATA_VIA=y
CONFIG_SATA_VITESSE=y
CONFIG_SATA_INIC162X=y
CONFIG_PATA_ACPI=y
CONFIG_PATA_ALI=y
CONFIG_PATA_AMD=y
CONFIG_PATA_ARTOP=y
CONFIG_PATA_ATP867X=y
CONFIG_PATA_ATIIXP=y
CONFIG_PATA_CMD640_PCI=y
CONFIG_PATA_CMD64X=y
CONFIG_PATA_CS5520=y
CONFIG_PATA_CS5530=y
CONFIG_PATA_CS5535=y
CONFIG_PATA_CS5536=y
CONFIG_PATA_CYPRESS=y
CONFIG_PATA_EFAR=y
CONFIG_PATA_HPT366=y
CONFIG_PATA_HPT37X=y
CONFIG_PATA_HPT3X2N=y
CONFIG_PATA_HPT3X3=y
CONFIG_PATA_IT821X=y
CONFIG_PATA_IT8213=y
CONFIG_PATA_JMICRON=y
CONFIG_PATA_TRIFLEX=y
CONFIG_PATA_MARVELL=y
CONFIG_PATA_MPIIX=y
CONFIG_PATA_OLDPIIX=y
CONFIG_PATA_NETCELL=y
CONFIG_PATA_NINJA32=y
CONFIG_PATA_NS87410=y
CONFIG_PATA_NS87415=y
CONFIG_PATA_OPTI=y
CONFIG_PATA_OPTIDMA=y
CONFIG_PATA_PDC2027X=y
CONFIG_PATA_PDC_OLD=y
CONFIG_PATA_RADISYS=y
CONFIG_PATA_RDC=y
CONFIG_PATA_RZ1000=y
CONFIG_PATA_SC1200=y
CONFIG_PATA_SERVERWORKS=y
CONFIG_PATA_SIL680=y
CONFIG_PATA_SIS=y
CONFIG_PATA_TOSHIBA=y
CONFIG_PATA_VIA=y
CONFIG_PATA_WINBOND=y
CONFIG_PATA_SCH=y
CONFIG_ATA_BMDMA=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_IDE=n
CONFIG_IDE_GD=y
CONFIG_IDE_GD_ATA=y
CONFIG_BLK_DEV_IDECS=y
CONFIG_BLK_DEV_DELKIN=y
CONFIG_BLK_DEV_IDECD=y
CONFIG_BLK_DEV_IDEACPI=y
CONFIG_IDE_PROC_FS=y
CONFIG_IDE_GENERIC=y
CONFIG_BLK_DEV_PLATFORM=y
CONFIG_BLK_DEV_CMD640=y
CONFIG_BLK_DEV_CMD640_ENHANCED=y
CONFIG_BLK_DEV_IDEPNP=y
CONFIG_BLK_DEV_GENERIC=y
CONFIG_BLK_DEV_OPTI621=y
CONFIG_BLK_DEV_RZ1000=y
CONFIG_BLK_DEV_AEC62XX=y
CONFIG_BLK_DEV_ALI15X3=y
CONFIG_BLK_DEV_AMD74XX=y
CONFIG_BLK_DEV_ATIIXP=y
CONFIG_BLK_DEV_CMD64X=y
CONFIG_BLK_DEV_TRIFLEX=y
CONFIG_BLK_DEV_CY82C693=y
CONFIG_BLK_DEV_CS5520=y
CONFIG_BLK_DEV_CS5530=y
CONFIG_BLK_DEV_CS5535=y
CONFIG_BLK_DEV_CS5536=y
CONFIG_BLK_DEV_HPT366=y
CONFIG_BLK_DEV_JMICRON=y
CONFIG_BLK_DEV_SC1200=y
CONFIG_BLK_DEV_PIIX=y
CONFIG_BLK_DEV_IT8172=y
CONFIG_BLK_DEV_IT8213=y
CONFIG_BLK_DEV_IT821X=y
CONFIG_BLK_DEV_NS87415=y
CONFIG_BLK_DEV_PDC202XX_OLD=y
CONFIG_BLK_DEV_PDC202XX_NEW=y
CONFIG_BLK_DEV_SVWKS=y
CONFIG_BLK_DEV_SGIIOC4=y
CONFIG_BLK_DEV_SIIMAGE=y
CONFIG_BLK_DEV_SIS5513=y
CONFIG_BLK_DEV_SL82C105=y
CONFIG_BLK_DEV_SLC90E66=y
CONFIG_BLK_DEV_TRM290=y
CONFIG_BLK_DEV_VIA82CXXX=y
CONFIG_BLK_DEV_TC86C001=y
CONFIG_BLK_DEV_CELLEB=y
CONFIG_BLK_DEV_IDE_PMAC=y
CONFIG_BLK_DEV_IDE_PMAC_ATA100FIRST=y
CONFIG_BLK_DEV_IDE_AU1XXX=y
CONFIG_BLK_DEV_IDE_AU1XXX_PIO_DBDMA=y
CONFIG_BLK_DEV_IDE_AU1XXX_MDMA2_DBDMA=y
CONFIG_BLK_DEV_IDE_TX4938=y
CONFIG_BLK_DEV_IDE_TX4939=y
CONFIG_BLK_DEV_IDE_AT91=y
CONFIG_BLK_DEV_IDE_ICSIDE=y
CONFIG_BLK_DEV_IDEDMA_ICS=y
CONFIG_BLK_DEV_IDE_RAPIDE=y
CONFIG_IDE_H8300=y
CONFIG_BLK_DEV_GAYLE=y
CONFIG_BLK_DEV_BUDDHA=y
CONFIG_BLK_DEV_FALCON_IDE=y
CONFIG_BLK_DEV_MAC_IDE=y
CONFIG_BLK_DEV_Q40IDE=y
CONFIG_BLK_DEV_PALMCHIP_BK3710=y
CONFIG_BLK_DEV_4DRIVES=y
CONFIG_BLK_DEV_ALI14XX=y
CONFIG_BLK_DEV_DTC2278=y
CONFIG_BLK_DEV_HT6560B=y
CONFIG_BLK_DEV_QD65XX=y
CONFIG_BLK_DEV_UMC8672=y
CONFIG_SCSI=y
CONFIG_SCSI_PROC_FS=y
CONFIG_BLK_DEV_SD=y
CONFIG_BLK_DEV_SR=y
CONFIG_BLK_DEV_SR_VENDOR=y
CONFIG_CHR_DEV_SG=y
CONFIG_BLK_DEV_SD=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_ISCSI_TCP=y
CONFIG_SCSI_CXGB3_ISCSI=y
CONFIG_SCSI_BNX2_ISCSI=y
CONFIG_BE2ISCSI=y
CONFIG_SGIWD93_SCSI=y
CONFIG_BLK_DEV_3W_XXXX_RAID=y
CONFIG_SCSI_HPSA=y
CONFIG_SCSI_3W_9XXX=y
CONFIG_SCSI_3W_SAS=y
CONFIG_SCSI_7000FASST=y
CONFIG_SCSI_ACARD=y
CONFIG_SCSI_AHA152X=y
CONFIG_SCSI_AHA1542=y
CONFIG_SCSI_AHA1740=y
CONFIG_SCSI_AACRAID=y
CONFIG_SCSI_AIC7XXX=y
CONFIG_SCSI_AIC7XXX=y
CONFIG_SCSI_AIC7XXX_OLD=y
CONFIG_SCSI_AIC79XX=y
CONFIG_SCSI_AIC94XX=y
CONFIG_SCSI_MVSAS=y
CONFIG_SCSI_DPT_I2O=y
CONFIG_SCSI_ADVANSYS=y
CONFIG_SCSI_IN2000=y
CONFIG_SCSI_ARCMSR=y
CONFIG_SCSI_ARCMSR_AER=y
CONFIG_MEGARAID_NEWGEN=y
CONFIG_MEGARAID_MM=y
CONFIG_MEGARAID_MAILBOX=y
CONFIG_MEGARAID_LEGACY=y
CONFIG_MEGARAID_SAS=y
CONFIG_SCSI_MPT2SAS=y
CONFIG_SCSI_HPTIOP=y
CONFIG_SCSI_BUSLOGIC=y
CONFIG_VMWARE_PVSCSI=y
CONFIG_LIBFC=y
CONFIG_LIBFCOE=y
CONFIG_FCOE=y
CONFIG_FCOE_FNIC=y
CONFIG_SCSI_DMX3191D=y
CONFIG_SCSI_DTC3280=y
CONFIG_SCSI_EATA=y
CONFIG_SCSI_EATA_PIO=y
CONFIG_SCSI_FUTURE_DOMAIN=y
CONFIG_SCSI_FD_MCS=y
CONFIG_SCSI_GDTH=y
CONFIG_SCSI_GENERIC_NCR5380=y
CONFIG_SCSI_GENERIC_NCR5380_MMIO=y
CONFIG_SCSI_GENERIC_NCR53C400=y
CONFIG_SCSI_IBMMCA=y
CONFIG_SCSI_IPS=y
CONFIG_SCSI_IBMVSCSI=y
CONFIG_SCSI_IBMVSCSIS=y
CONFIG_SCSI_IBMVFC=y
CONFIG_SCSI_INITIO=y
CONFIG_SCSI_INIA100=y
CONFIG_SCSI_PPA=y
CONFIG_SCSI_IMM=y
CONFIG_SCSI_IZIP_EPP16=y
CONFIG_SCSI_IZIP_SLOW_CTR=y
CONFIG_SCSI_NCR53C406A=y
CONFIG_SCSI_NCR_D700=y
CONFIG_SCSI_LASI700=y
CONFIG_SCSI_SNI_53C710=y
CONFIG_SCSI_STEX=y
CONFIG_SCSI_SYM53C8XX_2=y
CONFIG_SCSI_IPR=y
CONFIG_SCSI_ZALON=y
CONFIG_SCSI_NCR_Q720=y
CONFIG_SCSI_PAS16=y
CONFIG_SCSI_QLOGIC_FAS=y
CONFIG_SCSI_QLOGIC_1280=y
CONFIG_SCSI_QLOGICPTI=y
CONFIG_SCSI_QLA_FC=y
CONFIG_SCSI_QLA_ISCSI=y
CONFIG_SCSI_LPFC=y
CONFIG_SCSI_SIM710=y
CONFIG_SCSI_SYM53C416=y
CONFIG_SCSI_DC395x=y
CONFIG_SCSI_DC390T=y
CONFIG_SCSI_T128=y
CONFIG_SCSI_U14_34F=y
CONFIG_SCSI_ULTRASTOR=y
CONFIG_SCSI_NSP32=y
CONFIG_SCSI_DEBUG=y
CONFIG_SCSI_MESH=y
CONFIG_SCSI_MAC53C94=y
CONFIG_SCSI_ACORNSCSI_3=y
CONFIG_SCSI_ARXESCSI=y
CONFIG_SCSI_CUMANA_2=y
CONFIG_SCSI_EESOXSCSI=y
CONFIG_SCSI_POWERTECSCSI=y
CONFIG_SCSI_CUMANA_1=y
CONFIG_SCSI_OAK1=y
CONFIG_JAZZ_ESP=y
CONFIG_A3000_SCSI=y
CONFIG_A2091_SCSI=y
CONFIG_GVP11_SCSI=y
CONFIG_SCSI_A4000T=y
CONFIG_SCSI_ZORRO7XX=y
CONFIG_ATARI_SCSI=y
CONFIG_MAC_SCSI=y
CONFIG_SCSI_MAC_ESP=y
CONFIG_MVME147_SCSI=y
CONFIG_MVME16x_SCSI=y
CONFIG_BVME6000_SCSI=y
CONFIG_SUN3_SCSI=y
CONFIG_SUN3X_ESP=y
CONFIG_SCSI_SUNESP=y
CONFIG_ZFCP=y
CONFIG_SCSI_PMCRAID=y
CONFIG_SCSI_PM8001=y
CONFIG_SCSI_SRP=y
CONFIG_SCSI_BFA_FC=y
CONFIG_FUSION=y
CONFIG_FUSION_SPI=y
CONFIG_FUSION_FC=y
CONFIG_FUSION_SAS=y
CONFIG_FUSION_CTL=y
CONFIG_FUSION_LAN=y
CONFIG_FUSION_LOGGING=y
CONFIG_EXT2_FS=y
CONFIG_EXT3_FS=y
CONFIG_EXT3_DEFAULTS_TO_ORDERED=y
CONFIG_EXT4_FS=y
CONFIG_REISER4_FS=y
CONFIG_REISERFS_FS=y
CONFIG_JFS_FS=y
CONFIG_XFS_FS=y
CONFIG_GFS2_FS=y
CONFIG_OCFS2_FS=y
CONFIG_BTRFS_FS=y
CONFIG_NILFS2_FS=y
CONFIG_ISO9660_FS=y
CONFIG_JOLIET=y
CONFIG_ZISOFS=y
CONFIG_UDF_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_FAT_DEFAULT_CODEPAGE=857
CONFIG_FAT_DEFAULT_IOCHARSET=iso8859-9
CONFIG_NTFS_FS=y
CONFIG_NTFS_DEBUG=y
CONFIG_NTFS_RW=y
CONFIG_PROC_FS=y
CONFIG_PROC_KCORE=y
CONFIG_PROC_VMCORE=y
CONFIG_PROC_SYSCTL=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_SYSFS=y
CONFIG_SYSFS_DEPRECATED=n
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y
CONFIG_HUGETLBFS=y
CONFIG_AUTOFS_FS=n
CONFIG_AUTOFS4_FS=y
CONFIG_FUSE_FS=y
CONFIG_CUSE=y
CONFIG_MODULES=y
CONFIG_MODULE_FORCE_LOAD=n
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODVERSIONS=n
CONFIG_MODULE_SRCVERSION_ALL=n
CONFIG_BLOCK=y
CONFIG_LBDAF=y
CONFIG_BLK_DEV_BSG=y
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_BLK_CGROUP=y
CONFIG_64BIT=y
CONFIG_EXPERIMENTAL=y
CONFIG_KERNEL_GZIP=n
CONFIG_KERNEL_BZIP2=n
CONFIG_KERNEL_LZMA=y
CONFIG_KERNEL_LZO=n
CONFIG_SWAP=y
CONFIG_INPUT=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_INPUT_POLLDEV=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_EVBUG=n
CONFIG_INPUT_KEYBOARD=y
CONFIG_INPUT_MOUSE=y
CONFIG_MOUSE_PS2=y
CONFIG_MOUSE_PS2_ALPS=y
CONFIG_MOUSE_PS2_LOGIPS2PP=y
CONFIG_MOUSE_PS2_SYNAPTICS=y
CONFIG_MOUSE_PS2_LIFEBOOK=y
CONFIG_MOUSE_PS2_TRACKPOINT=y
CONFIG_MOUSE_PS2_ELANTECH=y
CONFIG_MOUSE_PS2_SENTELIC=y
CONFIG_MOUSE_PS2_TOUCHKIT=y
CONFIG_MOUSE_PS2_OLPC=y
CONFIG_MOUSE_SERIAL=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_PRINTK_TIME=n
CONFIG_ENABLE_WARN_DEPRECATED=n
CONFIG_ENABLE_MUST_CHECK=n
CONFIG_FRAME_WARN=0
CONFIG_MAGIC_SYSRQ=y
CONFIG_STRIP_ASM_SYMS=n
CONFIG_UNUSED_SYMBOLS=n
CONFIG_DEBUG_FS=n
CONFIG_HEADERS_CHECK=n
CONFIG_DEBUG_SECTION_MISMATCH=n
CONFIG_DEBUG_KERNEL=n
CONFIG_SLUB_DEBUG_ON=n
CONFIG_SLUB_STATS=n
CONFIG_DEBUG_KMEMLEAK=n
CONFIG_DEBUG_PREEMPT=n
CONFIG_DEBUG_RT_MUTEXES=n
CONFIG_RT_MUTEX_TESTER=n
CONFIG_DEBUG_SPINLOCK=n
CONFIG_DEBUG_MUTEXES=n
CONFIG_DEBUG_LOCK_ALLOC=n
CONFIG_PROVE_LOCKING=n
CONFIG_LOCK_STAT=n
CONFIG_DEBUG_LOCKDEP=n
CONFIG_DEBUG_SPINLOCK_SLEEP=n
CONFIG_DEBUG_LOCKING_API_SELFTESTS=n
CONFIG_DEBUG_KOBJECT=n
CONFIG_DEBUG_HIGHMEM=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_DEBUG_INFO=n
CONFIG_DEBUG_VM=n
CONFIG_DEBUG_VIRTUAL=n
CONFIG_DEBUG_NOMMU_REGIONS=n
CONFIG_DEBUG_WRITECOUNT=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_DEBUG_LIST=n
CONFIG_DEBUG_SG=n
CONFIG_DEBUG_NOTIFIERS=n
CONFIG_DEBUG_CREDENTIALS=n
CONFIG_FRAME_POINTER=y
CONFIG_BOOT_PRINTK_DELAY=n
CONFIG_RCU_TORTURE_TEST=n
CONFIG_RCU_CPU_STALL_DETECTOR=n
CONFIG_KPROBES_SANITY_TEST=n
CONFIG_BACKTRACE_SELF_TEST=n
CONFIG_DEBUG_BLOCK_EXT_DEVT=n
CONFIG_DEBUG_FORCE_WEAK_PER_CPU=n
CONFIG_LKDTM=n
CONFIG_FAULT_INJECTION=n
CONFIG_LATENCYTOP=n
CONFIG_SYSCTL_SYSCALL_CHECK=y
CONFIG_DEBUG_PAGEALLOC=n
CONFIG_PAGE_POISONING=n
CONFIG_FTRACE=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_AUDITSYSCALL=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_AUDIT=y
CONFIG_COMPACTION=y
CONFIG_PACKET=y
CONFIG_MISC_FILESYSTEMS=n
CONFIG_MISC_DEVICES=n
CONFIG_X86_PLATFORM_DEVICES=y
CONFIG_HOTPLUG=y
CONFIG_HOTPLUG_CPU=y
CONFIG_HPET_TIMER=y
CONFIG_HPET_EMULATE_RTC=y
CONFIG_BLK_DEV_MD=y
CONFIG_DM_DEBUG=y
CONFIG_DM_CRYPT=y
CONFIG_DM_SNAPSHOT=y
CONFIG_DM_MIRROR=y
CONFIG_DM_ZERO=y
CONFIG_DM_MULTIPATH=y
CONFIG_DM_DELAY=y
CONFIG_DM_UEVENT=y
CONFIG_BLK_DEV_DM_BBR=y
CONFIG_X86_POWERNOW_K6=y
CONFIG_X86_POWERNOW_K7=y
CONFIG_X86_POWERNOW_K8=y
CONFIG_X86_GX_SUSPMOD=y
CONFIG_X86_SPEEDSTEP_CENTRINO=y
CONFIG_X86_SPEEDSTEP_ICH=y
CONFIG_X86_SPEEDSTEP_SMI=y
CONFIG_X86_P4_CLOCKMOD=y
CONFIG_X86_LONGRUN=y
CONFIG_X86_LONGHAUL=y
CONFIG_X86_E_POWERSAVER=y
CONFIG_X86_SPEEDSTEP_LIB=y
CONFIG_PPP=y
CONFIG_PPP_MULTILINK=y
CONFIG_PPP_FILTER=y
CONFIG_PPP_ASYNC=y
CONFIG_PPP_SYNC_TTY=y
CONFIG_PPP_DEFLATE=y
CONFIG_PPP_BSDCOMP=y
CONFIG_PPP_MPPE=y
CONFIG_PPPOE=y
CONFIG_PPPOL2TP=y
CONFIG_TR=n
CONFIG_WATCHDOG=n
CONFIG_HAMRADIO=n
CONFIG_DISPLAY_SUPPORT=y
CONFIG_UNIX=y
CONFIG_UNIX_DIAG=y
CONFIG_XFRM_USER=y
CONFIG_INET=y
CONFIG_IP_MULTICAST=y
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_IP_MULTIPLE_TABLES=y
CONFIG_IP_ROUTE_MULTIPATH=y
CONFIG_IP_ROUTE_VERBOSE=y
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_IP_PNP_BOOTP=y
CONFIG_IP_PNP_RARP=y
CONFIG_IP_MROUTE=y
CONFIG_IP_PIMSM_V1=y
CONFIG_IP_PIMSM_V2=y
CONFIG_SYN_COOKIES=y
CONFIG_INET_LRO=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_RD_BZIP2=y
CONFIG_RD_LZMA=y
CONFIG_RD_LZO=y
CONFIG_INITRAMFS_COMPRESSION_NONE=n
CONFIG_INITRAMFS_COMPRESSION_GZIP=n
CONFIG_INITRAMFS_COMPRESSION_BZIP2=n
CONFIG_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_INITRAMFS_COMPRESSION_LZO=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_USB_DEBUG=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_SUSPEND=y
CONFIG_USB_MON=y
CONFIG_USB_WUSB=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_UHCI_HCD=y
CONFIG_USB_PRINTER=y
CONFIG_USB_STORAGE=y
CONFIG_USB_STORAGE_DEBUG=y
CONFIG_USB_STORAGE_DATAFAB=y
CONFIG_USB_STORAGE_FREECOM=y
CONFIG_USB_STORAGE_ISD200=y
CONFIG_USB_STORAGE_USBAT=y
CONFIG_USB_STORAGE_SDDR09=y
CONFIG_USB_STORAGE_SDDR55=y
CONFIG_USB_STORAGE_JUMPSHOT=y
CONFIG_USB_STORAGE_ALAUDA=y
CONFIG_USB_STORAGE_ONETOUCH=y
CONFIG_USB_STORAGE_KARMA=y
CONFIG_USB_STORAGE_CYPRESS_ATACB=y
CONFIG_USB_MDC800=y
CONFIG_USB_MICROTEK=y
CONFIG_USB_USS720=y
CONFIG_PM_RUNTIME=y
CONFIG_USB_PRINTER=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_TOSHIBA=n
CONFIG_I8K=n
CONFIG_VGA_SWITCHEROO=n
CONFIG_ACER_WMI=n
CONFIG_ACERHDF=n
CONFIG_ASUS_LAPTOP=n
CONFIG_DELL_LAPTOP=n
CONFIG_DELL_WMI=n
CONFIG_FUJITSU_LAPTOP=n
CONFIG_TC1100_WMI=n
CONFIG_HP_WMI=n
CONFIG_MSI_LAPTOP=n
CONFIG_PANASONIC_LAPTOP=n
CONFIG_COMPAL_LAPTOP=n
CONFIG_SONY_LAPTOP=n
CONFIG_SONYPI_COMPAT=n
CONFIG_THINKPAD_ACPI=n
CONFIG_THINKPAD_ACPI_ALSA_SUPPORT=n
CONFIG_THINKPAD_ACPI_DEBUGFACILITIES=n
CONFIG_THINKPAD_ACPI_DEBUG=n
CONFIG_THINKPAD_ACPI_UNSAFE_LEDS=n
CONFIG_THINKPAD_ACPI_VIDEO=n
CONFIG_THINKPAD_ACPI_HOTKEY_POLL=n
CONFIG_INTEL_MENLOW=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_EEEPC_WMI=n
CONFIG_ACPI=y
CONFIG_ACPI_AC=y
CONFIG_ACPI_BATTERY=y
CONFIG_ACPI_BUTTON=y
CONFIG_ACPI_VIDEO=y
CONFIG_ACPI_FAN=y
CONFIG_ACPI_DOCK=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_ACPI_PROCESSOR_AGGREGATOR=y
CONFIG_ACPI_THERMAL=y
CONFIG_ACPI_WMI=n
CONFIG_MSI_WMI=n
CONFIG_ACPI_ASUS=n
CONFIG_TOPSTAR_LAPTOP=n
CONFIG_ACPI_TOSHIBA=n
CONFIG_TOSHIBA_BT_RFKILL=n
CONFIG_ACPI_CMPC=n
CONFIG_ATH9K_HTC=n
CONFIG_IWM=n
CONFIG_HERMES=n
CONFIG_HERMES_PRISM=n
CONFIG_ORINOCO_USB=n
CONFIG_WL12XX=n
CONFIG_WL1271=n
CONFIG_WL1271_SPI=n
CONFIG_WL1271_SDIO=n
CONFIG_WLAN=y
CONFIG_PCMCIA_RAYCS=n
CONFIG_LIBERTAS_THINFIRM=n
CONFIG_LIBERTAS_THINFIRM_USB=n
CONFIG_AIRO=n
CONFIG_ATMEL=n
CONFIG_PCI=y
CONFIG_PCI_MMCONFIG=y
CONFIG_PCIEPORTBUS=y
CONFIG_PCIEAER=y
CONFIG_PCI_MSI=y
CONFIG_PCI_ATMEL=n
CONFIG_PCMCIA_ATMEL=n
CONFIG_AT76C50X_USB=n
CONFIG_AIRO_CS=n
CONFIG_PCMCIA_WL3501=n
CONFIG_PRISM54=n
CONFIG_USB_ZD1201=n
CONFIG_USB_NET_RNDIS_WLAN=n
CONFIG_RTL8180=n
CONFIG_RTL8187=n
CONFIG_ADM8211=n
CONFIG_MAC80211_HWSIM=n
CONFIG_MWL8K=n
CONFIG_ATH_COMMON=n
CONFIG_ATH_DEBUG=n
CONFIG_ATH5K=n
CONFIG_ATH5K_DEBUG=n
CONFIG_ATH9K=n
CONFIG_ATH9K_DEBUGFS=n
CONFIG_AR9170_USB=n
CONFIG_B43=n
CONFIG_B43_PCMCIA=n
CONFIG_B43_SDIO=n
CONFIG_B43_NPHY=n
CONFIG_B43_PHY_LP=n
CONFIG_B43_DEBUG=n
CONFIG_B43_FORCE_PIO=n
CONFIG_B43LEGACY=n
CONFIG_B43LEGACY_DEBUG=n
CONFIG_IPW2100=n
CONFIG_IPW2100_MONITOR=n
CONFIG_IPW2100_DEBUG=n
CONFIG_IPW2200=n
CONFIG_IPW2200_MONITOR=n
CONFIG_IPW2200_RADIOTAP=n
CONFIG_IPW2200_PROMISCUOUS=n
CONFIG_IPW2200_QOS=n
CONFIG_IPW2200_DEBUG=n
CONFIG_LIBIPW_DEBUG=n
CONFIG_IWLWIFI=n
CONFIG_IWLWIFI_DEBUG=n
CONFIG_IWLWIFI_DEBUGFS=n
CONFIG_IWLWIFI_DEVICE_TRACING=n
CONFIG_IWLAGN=n
CONFIG_IWL4965=n
CONFIG_IWL5000=n
CONFIG_IWL3945=n
CONFIG_IWM=n
CONFIG_IWM_DEBUG=n
CONFIG_LIBERTAS=n
CONFIG_LIBERTAS_USB=n
CONFIG_LIBERTAS_CS=n
CONFIG_LIBERTAS_SDIO=n
CONFIG_LIBERTAS_SPI=n
CONFIG_LIBERTAS_DEBUG=n
CONFIG_LIBERTAS_MESH=n
CONFIG_HERMES=n
CONFIG_HERMES_CACHE_FW_ON_INIT=n
CONFIG_APPLE_AIRPORT=n
CONFIG_PLX_HERMES=n
CONFIG_TMD_HERMES=n
CONFIG_NORTEL_HERMES=n
CONFIG_PCI_HERMES=n
CONFIG_PCMCIA_HERMES=n
CONFIG_PCMCIA_SPECTRUM=n
CONFIG_P54_COMMON=n
CONFIG_P54_USB=n
CONFIG_P54_PCI=n
CONFIG_P54_SPI=n
CONFIG_RT2X00=n
CONFIG_RT2400PCI=n
CONFIG_RT2500PCI=n
CONFIG_RT61PCI=n
CONFIG_RT2800PCI=n
CONFIG_RT2800PCI_RT30XX=n
CONFIG_RT2800PCI_RT35XX=n
CONFIG_RT2500USB=n
CONFIG_RT73USB=n
CONFIG_RT2800USB=n
CONFIG_RT2800USB_RT30XX=n
CONFIG_RT2800USB_RT35XX=n
CONFIG_RT2800USB_UNKNOWN=n
CONFIG_RT2X00_LIB_DEBUGFS=n
CONFIG_RT2X00_DEBUG=n
CONFIG_WL12XX=n
CONFIG_WL1251=n
CONFIG_WL1251_SPI=n
CONFIG_WL1251_SDIO=n
CONFIG_WL1271=n
CONFIG_ZD1211RW=n
CONFIG_ZD1211RW_DEBUG=n
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_PCI=y
CONFIG_SND_AD1889=m
CONFIG_SND_ALS300=m
CONFIG_SND_ALS4000=m
CONFIG_SND_ALI5451=m
CONFIG_SND_ATIIXP=m
CONFIG_SND_ATIIXP_MODEM=m
CONFIG_SND_AU8810=m
CONFIG_SND_AU8820=m
CONFIG_SND_AU8830=m
CONFIG_SND_AW2=m
CONFIG_SND_AZT3328=m
CONFIG_SND_BT87X=m
CONFIG_SND_CA0106=m
CONFIG_SND_CMIPCI=m
CONFIG_SND_OXYGEN=m
CONFIG_SND_CS4281=m
CONFIG_SND_CS46XX=m
CONFIG_SND_CS5530=m
CONFIG_SND_CS5535AUDIO=m
CONFIG_SND_CTXFI=m
CONFIG_SND_DARLA20=m
CONFIG_SND_GINA20=m
CONFIG_SND_LAYLA20=m
CONFIG_SND_DARLA24=m
CONFIG_SND_GINA24=m
CONFIG_SND_LAYLA24=m
CONFIG_SND_MONA=m
CONFIG_SND_MIA=m
CONFIG_SND_ECHO3G=m
CONFIG_SND_INDIGO=m
CONFIG_SND_INDIGOIO=m
CONFIG_SND_INDIGODJ=m
CONFIG_SND_INDIGOIOX=m
CONFIG_SND_INDIGODJX=m
CONFIG_SND_EMU10K1=m
CONFIG_SND_EMU10K1X=m
CONFIG_SND_ENS1370=m
CONFIG_SND_ENS1371=m
CONFIG_SND_ES1938=m
CONFIG_SND_ES1968=m
CONFIG_SND_FM801=m
CONFIG_SND_HDA_INTEL=y
CONFIG_SND_HDA_PREALLOC_SIZE=2048
CONFIG_SND_HDA_HWDEP=y
CONFIG_SND_HDA_CODEC_REALTEK=y
CONFIG_SND_HDA_CODEC_HDMI=y
CONFIG_SND_HDA_CODEC_ANALOG=y
CONFIG_SND_HDA_CODEC_SIGMATEL=y
CONFIG_SND_HDA_CODEC_VIA=y
CONFIG_SND_HDA_CODEC_ATIHDMI=y
CONFIG_SND_HDA_CODEC_NVHDMI=y
CONFIG_SND_HDA_CODEC_INTELHDMI=y
CONFIG_SND_HDA_CODEC_CIRRUS=y
CONFIG_SND_HDA_CODEC_CONEXANT=y
CONFIG_SND_HDA_CODEC_CA0110=y
CONFIG_SND_HDA_CODEC_CMEDIA=y
CONFIG_SND_HDA_CODEC_SI3054=y
CONFIG_SND_HDA_GENERIC=y
CONFIG_SND_HDA_POWER_SAVE=y
CONFIG_SND_HDA_POWER_SAVE_DEFAULT=3
CONFIG_SND_HDSP=m
CONFIG_SND_HDSPM=m
CONFIG_SND_HIFIER=m
CONFIG_SND_ICE1712=m
CONFIG_SND_ICE1724=m
CONFIG_SND_INTEL8X0=m
CONFIG_SND_INTEL8X0M=m
CONFIG_SND_KORG1212=m
CONFIG_SND_LX6464ES=m
CONFIG_SND_MAESTRO3=m
CONFIG_SND_MIXART=m
CONFIG_SND_NM256=m
CONFIG_SND_PCXHR=m
CONFIG_SND_RIPTIDE=m
CONFIG_SND_RME32=m
CONFIG_SND_RME96=m
CONFIG_SND_RME9652=m
CONFIG_SND_SIS7019=m
CONFIG_SND_SONICVIBES=m
CONFIG_SND_TRIDENT=m
CONFIG_SND_VIA82XX=m
CONFIG_SND_VIA82XX_MODEM=m
CONFIG_SND_VIRTUOSO=m
CONFIG_SND_VX222=m
CONFIG_SND_YMFPCI=m
CONFIG_MEDIA_SUPPORT=m
CONFIG_VIDEO_DEV=m
CONFIG_VIDEO_CAPTURE_DRIVERS=y
CONFIG_VIDEO_HELPER_CHIPS_AUTO=y
CONFIG_VIDEO_V4L1_COMPAT=m
CONFIG_V4L_USB_DRIVERS=y
CONFIG_USB_VIDEO_CLASS=y
CONFIG_USB_VIDEO_CLASS_INPUT_EVDEV=y
CONFIG_USB_GSPCA=m
CONFIG_USB_M5602=m
CONFIG_USB_STV06XX=m
CONFIG_USB_GL860=m
CONFIG_USB_GSPCA_BENQ=m
CONFIG_USB_GSPCA_CONEX=m
CONFIG_USB_GSPCA_CPIA1=m
CONFIG_USB_GSPCA_ETOMS=m
CONFIG_USB_GSPCA_FINEPIX=m
CONFIG_USB_GSPCA_JEILINJ=m
CONFIG_USB_GSPCA_MARS=m
CONFIG_USB_GSPCA_MR97310A=m
CONFIG_USB_GSPCA_OV519=m
CONFIG_USB_GSPCA_OV534=m
CONFIG_USB_GSPCA_OV534_9=m
CONFIG_USB_GSPCA_PAC207=m
CONFIG_USB_GSPCA_PAC7302=m
CONFIG_USB_GSPCA_PAC7311=m
CONFIG_USB_GSPCA_SN9C2028=m
CONFIG_USB_GSPCA_SN9C20X=m
CONFIG_USB_GSPCA_SN9C20X_EVDEV=m
CONFIG_USB_GSPCA_SONIXB=m
CONFIG_USB_GSPCA_SONIXJ=m
CONFIG_USB_GSPCA_SPCA500=m
CONFIG_USB_GSPCA_SPCA501=m
CONFIG_USB_GSPCA_SPCA505=m
CONFIG_USB_GSPCA_SPCA506=m
CONFIG_USB_GSPCA_SPCA508=m
CONFIG_USB_GSPCA_SPCA561=m
CONFIG_USB_GSPCA_SQ905=m
CONFIG_USB_GSPCA_SQ905C=m
CONFIG_USB_GSPCA_STK014=m
CONFIG_USB_GSPCA_STV0680=m
CONFIG_USB_GSPCA_SUNPLUS=m
CONFIG_USB_GSPCA_T613=m
CONFIG_USB_GSPCA_TV8532=m
CONFIG_USB_GSPCA_VC032X=m
CONFIG_USB_GSPCA_ZC3XX=m
CONFIG_VIDEO_PVRUSB2=m
CONFIG_VIDEO_PVRUSB2_SYSFS=m
CONFIG_VIDEO_PVRUSB2_DVB=m
CONFIG_VIDEO_PVRUSB2_DEBUGIFC=m
CONFIG_VIDEO_HDPVR=m
CONFIG_VIDEO_EM28XX=m
CONFIG_VIDEO_EM28XX_ALSA=m
CONFIG_VIDEO_EM28XX_DVB=m
CONFIG_VIDEO_TLG2300=m
CONFIG_VIDEO_CX231XX=m
CONFIG_VIDEO_CX231XX_ALSA=m
CONFIG_VIDEO_CX231XX_DVB=m
CONFIG_VIDEO_USBVISION=m
CONFIG_USB_VICAM=m
CONFIG_USB_IBMCAM=m
CONFIG_USB_KONICAWC=m
CONFIG_USB_QUICKCAM_MESSENGER=m
CONFIG_USB_ET61X251=m
CONFIG_VIDEO_OVCAMCHIP=m
CONFIG_USB_W9968CF=m
CONFIG_USB_OV511=m
CONFIG_USB_SE401=m
CONFIG_USB_SN9C102=m
CONFIG_USB_STV680=m
CONFIG_USB_ZC0301=m
CONFIG_USB_PWC=m
CONFIG_USB_PWC_DEBUG=m
CONFIG_USB_PWC_INPUT_EVDEV=m
CONFIG_USB_ZR364XX=m
CONFIG_USB_STKWEBCAM=m
CONFIG_USB_S2255=m
CONFIG_BT=m
CONFIG_BT_RFCOMM=m
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_HCIBTUSB=m
CONFIG_BT_HCIBTSDIO=m
CONFIG_BT_HCIUART=m
CONFIG_BT_HCIUART_H4=y
CONFIG_BT_HCIUART_BCSP=y
CONFIG_BT_HCIUART_LL=y
CONFIG_BT_HCIBCM203X=m
CONFIG_BT_HCIBPA10X=m
CONFIG_BT_HCIBFUSB=m
CONFIG_BT_HCIVHCI=m
CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_CFG80211_DEFAULT_PS=y
CONFIG_CFG80211_WEXT=y
CONFIG_WIRELESS_EXT_SYSFS=y
CONFIG_MAC80211=y
CONFIG_MAC80211_LEDS=y
CONFIG_ETHERNET=y
CONFIG_NET_VENDOR_ATHEROS=y
CONFIG_ATL1C=y
CONFIG_IWLWIFI=y
CONFIG_FIREWIRE=y
CONFIG_FIREWIRE_OHCI=m
CONFIG_I2C=y
CONFIG_I2C_COMPAT=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_HELPER_AUTO=y
CONFIG_I2C_I801=y
CONFIG_NET=y
CONFIG_NET_ETHERNET=y
CONFIG_NET_TULIP=y
CONFIG_DE2104X=m
CONFIG_TULIP=m
CONFIG_DE4X5=m
CONFIG_WINBOND_840=m
CONFIG_DM9102=m
CONFIG_ULI526X=m
CONFIG_PCMCIA_XIRCOM=m
CONFIG_AT1700=m
CONFIG_DEPCA=m
CONFIG_HP100=m
CONFIG_NET_ISA=y
CONFIG_E2100=m
CONFIG_EWRK3=m
CONFIG_EEXPRESS=m
CONFIG_EEXPRESS_PRO=m
CONFIG_HPLAN_PLUS=m
CONFIG_HPLAN=m
CONFIG_LP486E=m
CONFIG_ETH16Ib=m
CONFIG_NE2000=m
CONFIG_ZNET=m
CONFIG_SEEQ8005=m
CONFIG_NE2_MCA=m
CONFIG_IBMLANA=m
CONFIG_IBMVETH=m
CONFIG_IBM_NEW_EMAC=y
CONFIG_NET_PCI=y
CONFIG_PCNET32=m
CONFIG_AMD8111_ETH=m
CONFIG_ADAPTEC_STARFIRE=m
CONFIG_AC3200=m
CONFIG_KSZ884X_PCI=m
CONFIG_APRICOT=m
CONFIG_B44=m
CONFIG_FORCEDETH=y
CONFIG_CS89x0=m
CONFIG_TC35815=m
CONFIG_E100=m
CONFIG_LNE390=m
CONFIG_FEALNX=m
CONFIG_NATSEMI=m
CONFIG_NE2K_PCI=m
CONFIG_NE3210=m
CONFIG_ES3210=m
CONFIG_8139CP=m
CONFIG_8139TOO=y
CONFIG_8139TOO_PIO=m
CONFIG_8139TOO_TUNE_TWISTER=y
CONFIG_8139TOO_8129=y
CONFIG_8139_OLD_RX_RESET=m
CONFIG_R6040=m
CONFIG_SIS900=m
CONFIG_EPIC100=m
CONFIG_SMSC9420=m
CONFIG_SUNDANCE=y
CONFIG_TLAN=m
CONFIG_KS8842=m
CONFIG_KS8851=m
CONFIG_KS8851_MLL=m
CONFIG_VIA_RHINE=y
CONFIG_SC92031=m
CONFIG_CPMAC=m
CONFIG_NET_POCKET=y
CONFIG_ATP=m
CONFIG_DE600=m
CONFIG_DE620=m
CONFIG_SGISEEQ=m
CONFIG_DECLANCE=m
CONFIG_68360_ENET=m
CONFIG_FEC=y
CONFIG_FEC2=m
CONFIG_FEC_MPC52xx=y
CONFIG_FEC_MPC52xx_MDIO=m
CONFIG_NE_H8300=m
CONFIG_ATL2=m
CONFIG_XILINX_EMACLITE=m
CONFIG_BCM63XX_ENET=m
CONFIG_FS_ENET=m
CONFIG_OCTEON_MGMT_ETHERNET=m
CONFIG_NETDEV_1000=y
CONFIG_ACENIC=m
CONFIG_ACENIC_OMIT_TIGON_I=m
CONFIG_DL2K=m
CONFIG_E1000=m
CONFIG_E1000E=m
CONFIG_IP1000=m
CONFIG_IGB=m
CONFIG_IGB_DCA=m
CONFIG_IGBVF=m
CONFIG_ENP2611_MSF_NET=m
CONFIG_MYRI_SBUS=m
CONFIG_NS83820=m
CONFIG_HAMACHI=m
CONFIG_YELLOWFIN=m
CONFIG_R8169=m
CONFIG_R8169_VLAN=m
CONFIG_SB1250_MAC=m
CONFIG_SIS190=m
CONFIG_SKGE=m
CONFIG_SKY2=m
CONFIG_VIA_VELOCITY=m
CONFIG_TIGON3=m
CONFIG_BNX2=m
CONFIG_CNIC=m
CONFIG_SPIDER_NET=m
CONFIG_TSI108_ETH=m
CONFIG_GELIC_NET=m
CONFIG_GELIC_WIRELESS=m
CONFIG_FSL_PQ_MDIO=m
CONFIG_GIANFAR=m
CONFIG_UCC_GETH=m
CONFIG_UGETH_TX_ON_DEMAND=m
CONFIG_MV643XX_ETH=m
CONFIG_XILINX_LL_TEMAC=m
CONFIG_QLA3XXX=m
CONFIG_ATL1=m
CONFIG_ATL1E=m
CONFIG_ATL1C=m
CONFIG_JME=m
CONFIG_S6GMAC=m
CONFIG_STMMAC_ETH=m
CONFIG_NETDEV_10000=y
CONFIG_CHELSIO_T1=m
CONFIG_CHELSIO_T1_1G=m
CONFIG_CHELSIO_T3=m
CONFIG_CHELSIO_T4=m
CONFIG_EHEA=m
CONFIG_ENIC=m
CONFIG_IXGBE=m
CONFIG_IXGBE_DCA=m
CONFIG_IXGBE_DCB=m
CONFIG_IXGBEVF=m
CONFIG_IXGB=m
CONFIG_S2IO=m
CONFIG_VXGE=m
CONFIG_MYRI10GE=m
CONFIG_MYRI10GE_DCA=m
CONFIG_NETXEN_NIC=m
CONFIG_NIU=m
CONFIG_PASEMI_MAC=m
CONFIG_MLX4_EN=m
CONFIG_MLX4_DEBUG=m
CONFIG_TEHUTI=m
CONFIG_BNX2X=m
CONFIG_QLCNIC=m
CONFIG_QLGE=m
CONFIG_SFC=m
CONFIG_SFC_MTD=m
CONFIG_BE2NET=m
CONFIG_DRM=y
CONFIG_DRM_TDFX=n
CONFIG_DRM_R128=n
CONFIG_DRM_RADEON=n
CONFIG_DRM_I810=n
CONFIG_DRM_I830=n
CONFIG_DRM_I915=y
CONFIG_DRM_I915_KMS=y
CONFIG_DRM_MGA=n
CONFIG_DRM_SIS=n
CONFIG_DRM_VIA=n
CONFIG_DRM_SAVAGE=n
CONFIG_INTEL_IOMMU=n
CONFIG_SND_AC97_POWER_SAVE=y
CONFIG_TIMER_STATS=y
CONFIG_PERF_EVENTS=Y
CONFIG_PERF_COUNTERS=y
CONFIG_TRACEPOINTS=y
CONFIG_TRACING=y
CONFIG_EVENT_POWER_TRACING_DEPRECATED=y
CONFIG_ACPI_PROCFS_POWER=y
